.input-group{
	margin:20px 0px;
}

td, th {
	vertical-align: middle !important;
	text-align: center !important;
}

td svg {
    max-height: 175px;
}

td:first-of-type {
	height: 175px;
	width: 250px;
}

footer {
    padding-top: 0 !important;
    position: absolute;
    width: 100%;
    bottom: 0;
}

.navbar-brand {
    text-align: center !important;
    display: block !important;
    font-size: 24px !important;
    padding: 0;
}
#subButton {
    height: 50px;
    padding: 14px 70px;
    margin: 3px 6px 1px;
}

#searchInput {
    height: 50px;
    border-radius: 0.25rem;
}