/*===========================================================

    Main Application Styles

===========================================================*/

/*===========================================================

    DOM Component Styles

===========================================================*/

footer {
    padding-top: 0 !important;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.navbar-brand {
    text-align: center !important;
    display: block !important;
    font-size: 24px !important;
    padding: 0;
    font-weight: bold;
}
#subButton {
    height: 50px;
    padding: 14px 70px;
    margin: 3px 6px 1px;
}

main.container {
    margin-bottom: 80px;
}

/*===========================================================

    Weather Search Widget Styles

===========================================================*/
.card-title {
    text-align: center;
    color: #3F51B5;
    margin-bottom: 0px !important;
}
.input-group{
    margin:20px 0px;
}

#searchInput {
    height: 50px;
    border-radius: 0.25rem;
}
.card-block {
    padding-bottom: 10px !important;
}
.mapContainer {
    min-height: 300px;
    margin: 15px 0;
    height: 30vh;
    width: 100%;
    padding: 0px 15px;
}
.charts {padding: 15px;}

.chartContainer {
    display: block;
    width: 32%;
    float: left;
    margin: 0 1%;
    padding: 2%;
    border-radius: 3px;
}
article.card {
    margin: 25px 0 30px;
}
.chartContainer.first {
    background-color: rgba(0, 150, 136, 0.8);
    margin-left: 0;
}

.chartContainer.third {
    margin-right: 0;
    background-color: rgba(0, 188, 212, 0.8);
}
.chartContainer.second {
    background-color: rgba(224, 62, 50, 0.8);
}
