/*===========================================================

	Main Application Styles

===========================================================*/

/*===========================================================

	DOM Component Styles

===========================================================*/

footer {
    padding-top: 0 !important;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.navbar-brand {
    text-align: center !important;
    display: block !important;
    font-size: 24px !important;
    padding: 0;
}
#subButton {
    height: 50px;
    padding: 14px 70px;
    margin: 3px 6px 1px;
}

main.container {
    margin-bottom: 80px;
}

/*===========================================================

	Weather Search Widget Styles

===========================================================*/

.input-group{
	margin:20px 0px;
}

td, th {
	vertical-align: middle !important;
	text-align: center !important;
}

td svg {
    max-height: 175px;
}

td:first-of-type {
	height: 175px;
	width: 250px;
}

#searchInput {
    height: 50px;
    border-radius: 0.25rem;
}

td {
    min-width: 275px;
    padding: 0 5px;
}

table.weatherDisplay {
    margin: 20px 0;
}
.mapContainer {
    height: 175px;
    width: 250px;
}

