/*===========================================================

    Main Application Styles

===========================================================*/

/*===========================================================

    DOM Component Styles

===========================================================*/
html {
  height: 100%;
  box-sizing: border-box;
}
body {
  position: relative;
  padding-bottom: 6rem;
  min-height: 100%;
}
footer {
    padding-top: 0 !important;
    width: 100%;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #efefef;
    text-align: center;
}

.navbar-brand {
    text-align: center !important;
    display: block !important;
    font-size: 24px !important;
    padding: 0;
    font-weight: bold;
    -webkit-animation-duration: 0.5s;
    -moz-animation-duration: 0.5s;
    -ms-animation-duration: 0.5s;
    animation-duration: 0.5s;
}


/*===========================================================

    Search Widget Styles

===========================================================*/

.input-group{
    margin:20px 0px;
}

#searchInput {
    height: 50px;
    border-radius: 0.25rem;
    -webkit-animation-delay: 0.5s;
    -moz-animation-delay: 0.5s;
    -ms-animation-delay: 0.5s;
    animation-delay: 0.5s;
    -webkit-animation-duration: 0.5s;
    -moz-animation-duration: 0.5s;
    -ms-animation-duration: 0.5s;
    animation-duration: 0.5s;
}
#subButton {
    height: 50px;
    padding: 14px 70px;
    margin: 3px 6px 1px;
    -webkit-animation-delay: 0.5s;
    -moz-animation-delay: 0.5s;
    -ms-animation-delay: 0.5s;
    animation-delay: 0.5s;
    -webkit-animation-delay: 0.5s;
    -moz-animation-delay: 0.5s;
    -ms-animation-delay: 0.5s;
    animation-delay: 0.5s;
}

/*===========================================================

    Weather Widget Styles

===========================================================*/
article.card {
    background: rgb(0, 87, 162);
    margin: 25px 0 30px;
    -webkit-animation-duration: 0.5s;
    -moz-animation-duration: 0.5s;
    -ms-animation-duration: 0.5s;
    animation-duration: 0.5s;
}
.card-title {
    text-align: center;
    color: #fff;
    margin-bottom: 0px !important;
    font-weight: bold;
    font-size: 22px;
    -webkit-animation-duration: 0.5s;
    -moz-animation-duration: 0.5s;
    -ms-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-delay: 0.5s;
    -moz-animation-delay: 0.5s;
    -ms-animation-delay: 0.5s;
    animation-delay: 0.5s;
}

.card-block {
    padding-bottom: 10px !important;
}
.mapContainer {
    min-height: 300px;
    margin: 15px 0;
    height: 30vh;
    width: 100%;
    padding: 0px 15px;
    -webkit-animation-duration: 0.5s;
    -moz-animation-duration: 0.5s;
    -ms-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-delay: 0.7s;
    -moz-animation-delay: 0.7s;
    -ms-animation-delay: 0.7s;
    animation-delay: 0.7s;
}
.charts {padding: 15px;}

.chartContainer {
    display: block;
    width: 32%;
    float: left;
    margin: 0 1%;
    padding: 2%;
    border-radius: 3px;
}

.chartContainer.first {
    background-color: rgba(0, 150, 136, 0.8);
    margin-left: 0;
    -webkit-animation-duration: 0.5s;
    -moz-animation-duration: 0.5s;
    -ms-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -ms-animation-delay: 1s;
    animation-delay: 1s;
}
.chartContainer.first polyline {
    fill-opacity: 1 !important;
}

.chartContainer.second {
    background-color: rgba(224, 62, 50, 0.8);
    -webkit-animation-duration: 0.5s;
    -moz-animation-duration: 0.5s;
    -ms-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-delay: 1.3s;
    -moz-animation-delay: 1.3s;
    -ms-animation-delay: 1.3s;
    animation-delay: 1.3s;
}
.chartContainer.third {
    margin-right: 0;
    background-color: rgba(0, 188, 212, 0.8);
    -webkit-animation-duration: 0.5s;
    -moz-animation-duration: 0.5s;
    -ms-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-delay: 1.6s;
    -moz-animation-delay: 1.6s;
    -ms-animation-delay: 1.6s;
    animation-delay: 1.6s;
}
h5.chartDescription {
    text-align: center;
    color: #fff;
    padding: 20px 0 10px;
    margin: 0;
    -webkit-animation-delay: 2s;
    -moz-animation-delay: 2s;
    -ms-animation-delay: 2s;
    animation-delay: 2s;
}

/*===========================================================

    Responsive Styles

===========================================================*/
@media only screen and (min-width: 0px) and (max-width: 768px) {
    main.container {
        width: 90%;
        max-width: none;
    }
}