/*===========================================================

	Main Application Styles

===========================================================*/

/*===========================================================

	DOM Component Styles

===========================================================*/

footer {
    padding-top: 0 !important;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.navbar-brand {
    text-align: center !important;
    display: block !important;
    font-size: 24px !important;
    padding: 0;
}
#subButton {
    height: 50px;
    padding: 14px 70px;
    margin: 3px 6px 1px;
}

main.container {
    margin-bottom: 80px;
}

/*===========================================================

	Weather Search Widget Styles

===========================================================*/

.input-group{
	margin:20px 0px;
}

#searchInput {
    height: 50px;
    border-radius: 0.25rem;
}
.mapContainer {
    min-height: 300px;
    height: 30vh;
    width: 100%;
    padding: 0px 15px;
}
.charts {margin-top: 15px;}

.chartContainer {
    display: block;
    width: 49%;
    float: left;
    margin: 0 0.5%;
}
article.card {
    margin: 25px 0 30px;
}