.input-group{
	margin:20px 0px;
}

td, th {
	vertical-align: middle !important;
	text-align: center !important;
}

td svg {
    max-height: 175px;
}

td:first-of-type {
	height: 175px;
	width: 250px;
}

footer {
    padding-top: 0 !important;
    position: absolute;
    width: 100%;
    bottom: 0;
}