
/*===========================================================

    Main Application Styles

===========================================================*/

/*===========================================================

    DOM Component Styles

===========================================================*/
html {
  height: 100%;
  box-sizing: border-box;
}
body {
  position: relative;
  padding-bottom: 6rem;
  min-height: 100%;
  max-width: 100%;
  overflow-x: hidden;
}
footer {
    padding-top: 0 !important;
    width: 100%;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #efefef;
    text-align: center;
    background-color: #0275d8!important;
}

.navbar-brand {
    text-align: center !important;
    display: block !important;
    font-size: 24px !important;
    padding: 0;
    font-weight: bold;
    -webkit-animation-duration: 0.5s;
    -moz-animation-duration: 0.5s;
    -ms-animation-duration: 0.5s;
    animation-duration: 0.5s;
}
.navbar-brand img {
    width: 50px;
    margin-right: 12px;
    margin-top: -8px;
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -ms-animation-delay: 1s;
    animation-delay: 1s;
}

.navbar {
    padding-bottom: 0 !important;
}
.hidden {
    display: none !important;
}
#scrollToTop {
    width: 80px;
    margin-bottom: 4rem;
}

/*===========================================================

    Offline Styles

===========================================================*/

.offline-text h3 {
    text-align: center;
    font-size: 22px;
    margin-top: 30px;
}
.offline-text img {width: 20%;margin: 3% auto;display: block;float: none;}

/*===========================================================

    Search Widget Styles

===========================================================*/
.input-group{
    margin:20px 0px;
}
#searchLabel span {
    display: none;
}
#searchLabel {
    width: 100%;
}
#searchInput::-webkit-input-placeholder { /* Chrome/Opera/Safari */
color:rgba(142, 142, 142, 0.8);
    }
    #searchInput::-moz-placeholder { /* Firefox 19+ */
color:rgba(142, 142, 142, 0.8);
    }
    #searchInput:-ms-input-placeholder { /* IE 10+ */
color:rgba(142, 142, 142, 0.8);
    }
    #searchInput:-moz-placeholder { /* Firefox 18- */
color:rgba(142, 142, 142, 0.8);
    }
#searchInput {
    display: block;
    width: 100%;
    height: 50px;
    border-radius: 0.25rem;
    -webkit-animation-delay: 0.5s;
    -moz-animation-delay: 0.5s;
    -ms-animation-delay: 0.5s;
    animation-delay: 0.5s;
    -webkit-animation-duration: 0.5s;
    -moz-animation-duration: 0.5s;
    -ms-animation-duration: 0.5s;
    animation-duration: 0.5s;
}
#subButton {
    height: 50px;
    padding: 14px 70px;
    margin: 3px 6px 1px;
    -webkit-animation-delay: 0.5s;
    -moz-animation-delay: 0.5s;
    -ms-animation-delay: 0.5s;
    animation-delay: 0.5s;
    -webkit-animation-delay: 0.5s;
    -moz-animation-delay: 0.5s;
    -ms-animation-delay: 0.5s;
    animation-delay: 0.5s;
}
#searchError {
    text-align: center;
    width: 100%;
    display: block;
    color: #e61000;
    font-weight: bold;
}
/*===========================================================

    Geolocate Styles

===========================================================*/
#geolocate {
    max-height: 572px;
    transition: max-height 0.55s ease-out;
    overflow: hidden;
}
#geolocate.buttonClicked {
    max-height: 1040px;
    transition: max-height 0.55s ease-out;
    overflow: hidden;
}
#geolocateMap {
    text-align: center;
    padding-bottom: 1rem;
}
#geolocateMap h3{
    color: #0275d8;
}
.coordinates {
    display: inline-block;
    width: 100%;
}

.coordinates h5 {
    float: left;
    width: 50%;
}
#geolocateMap .mapContainer {
    margin-bottom: 0;
}
#geolocateMap h5 {
    -webkit-animation-delay: 0.5s;
    -moz-animation-delay: 0.5s;
    -ms-animation-delay: 0.5s;
    animation-delay: 0.5s;
}
#fetchWeather {
    padding: 14px 70px;
    margin-top: 2rem;
}

#fetchWeather:hover {
    cursor: pointer;
}
.charts h4 {
    padding: 0 0 2rem;
    font-style: italic;
}

#alerts {
    margin-top: 1rem;
    display: inline-block;
    color: #fff;
    padding: 0 1rem;
}
#geoError {
    color: #ff1100;
}
/*===========================================================

    Weather Widget Styles

===========================================================*/

article.card {
    background: rgb(0, 87, 162);
    margin: 25px 0 30px;
    -webkit-animation-duration: 0.5s;
    -moz-animation-duration: 0.5s;
    -ms-animation-duration: 0.5s;
    animation-duration: 0.5s;
    height: auto;
}
.card-title {
    text-align: center;
    color: #fff;
    margin-bottom: 0px !important;
    font-weight: bold;
    font-size: 22px;
    -webkit-animation-duration: 0.5s;
    -moz-animation-duration: 0.5s;
    -ms-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-delay: 0.5s;
    -moz-animation-delay: 0.5s;
    -ms-animation-delay: 0.5s;
    animation-delay: 0.5s;
}
h3.card-title {
    margin: 1rem 0 !important;
    font-size: 26px;
}
.card-block {
    padding-bottom: 10px !important;
}
.mapContainer {
    min-height: 300px;
    margin: 15px 0;
    height: 30vh;
    width: 100%;
    padding: 0px 15px;
    -webkit-animation-duration: 0.5s;
    -moz-animation-duration: 0.5s;
    -ms-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-delay: 0.7s;
    -moz-animation-delay: 0.7s;
    -ms-animation-delay: 0.7s;
    animation-delay: 0.7s;
}
.charts {padding: 15px;}

.chartContainer {
    display: block;
    width: 32%;
    float: left;
    margin: 0 1%;
    padding: 2%;
    border-radius: 3px;
}

.chartContainer.first {
    background-color: rgba(0, 188, 212, 0.8);
    margin-left: 0;
    -webkit-animation-duration: 0.5s;
    -moz-animation-duration: 0.5s;
    -ms-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -ms-animation-delay: 1s;
    animation-delay: 1s;
}
#summary{
    -webkit-animation-duration: 0.5s;
    -moz-animation-duration: 0.5s;
    -ms-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-delay: 1.1s;
    -moz-animation-delay: 1.1s;
    -ms-animation-delay: 1.1s;
    animation-delay: 1.1s;
}
.chartContainer.first polyline {
    fill-opacity: 1 !important;
}

.chartContainer.second {
    background-color: rgba(0, 188, 212, 0.8);
    -webkit-animation-duration: 0.5s;
    -moz-animation-duration: 0.5s;
    -ms-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-delay: 1.3s;
    -moz-animation-delay: 1.3s;
    -ms-animation-delay: 1.3s;
    animation-delay: 1.3s;
}
.chartContainer.third {
    margin-right: 0;
    background-color: rgba(0, 188, 212, 0.8);
    -webkit-animation-duration: 0.5s;
    -moz-animation-duration: 0.5s;
    -ms-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-delay: 1.6s;
    -moz-animation-delay: 1.6s;
    -ms-animation-delay: 1.6s;
    animation-delay: 1.6s;
}
.fourth{
    color: #fff;
    -webkit-animation-duration: 0.5s;
    -moz-animation-duration: 0.5s;
    -ms-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-delay: 2s;
    -moz-animation-delay: 2s;
    -ms-animation-delay: 2s;
    animation-delay: 2s;
}
h5 {
    text-align: center;
    color: #fff !important;
    padding: 20px 0 10px;
    margin: 0;
    -webkit-animation-delay: 2s;
    -moz-animation-delay: 2s;
    -ms-animation-delay: 2s;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.93);
    animation-delay: 2s;
}


/*===========================================================

    Responsive Styles

===========================================================*/
@media (max-width: 768px) and (orientation: landscape) {#scrollToTop {
    right: -22px !important;
}}
@media screen and (min-width: 0px) and (max-width: 768px) {
    main.container {
        width: 90%;
        max-width: none;
    }
    .navbar-brand span {
    display: none;
    }
    #searchError {
    margin-bottom: 2rem;
    }
    #geolocate {
    max-height: 560px;
    margin-top: 0;
    }
    #geolocate.buttonClicked {
    max-height: 3000px;
    }
    #fetchWeather {
        padding: 14px;
        width: 90%;
        font-weight: bold;
    }
    #scrollToTop {
    margin-bottom: 1rem;
    width: 30px;
    position: absolute;
    bottom: 0px;
    right: -28px;
    }
    .chartContainer {
    width: 98%;
    float: left;
    margin-top: 4%;
    margin-left: 1% !important;
    margin-right: 1% !important;
    margin-bottom: 2%;
    }
    .chartContainer.first {
    margin-top: 0 !important;

    }
    .navbar-brand {
        font-size: 18px !important;
        margin: 0 !important;
    }
    #searchInput {
    width: 100% !important;
    display: block;
    position: absolute;
    }
    #searchInput::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      text-align:center;
    }
    #searchInput::-moz-placeholder { /* Firefox 19+ */
      text-align:center;
    }
    #searchInput:-ms-input-placeholder { /* IE 10+ */
      text-align:center;
    }
    #searchInput:-moz-placeholder { /* Firefox 18- */
      text-align:center;
    }
    #subButton {
        float: left;
        width: 100%;
        position: absolute;
        margin: 53px 0 0 0;
        font-weight: bold;
        display: inline-block;
    }
    form.input-group {
        height: 110px;
    }
}
@media screen and (min-width: 1025px) and (max-width: 1400px) and (orientation: landscape) {#scrollToTop {
    right: -1px !important;
    width: 70px !important;
}}
@media screen and (min-width: 1200px) and (max-width: 1300px) {
#scrollToTop {
    right: -27px !important;
    width: 40px !important;
}}
@media screen and (min-width: 768px) and (max-width: 1400px) {
#scrollToTop {
    width: 45px;
    position: absolute;
    bottom: 14px;
    right: -29px;
}}